{% extends 'base.html.twig' %}

{% block title %}Annuaire{% endblock %}

{% block body %}

<h1>Annuaire</h1>

<form action="{{ path('app_home') }}" method="POST">
    <input type="text" id="champ" style="width: 300px;">
</form>

<div id="result">
    <ul id="liste" style="margin: 2px; max-height:300px;">
        
    </ul>
</div>

{% endblock %}
